WEBHOOK_SECRET=YOUR_SECRET
DISCORD_WEBHOOK_URL=YOUR_DISCORD_WEBHOOK_URL
# Placeholders: {USER_ID}, {USER_NAME}, {RESOURCE_ID}, {RESOURCE_TITLE}, {RESOURCE_CURRENCY}, {RESOURCE_PRICE}, {RESOURCE_THUMBNAIL_URL}
# Each placeholder name speaks for itself
DISCORD_PURCHASE_WEBHOOK_CONTENT="{\"embeds\":[{\"title\":\"<:dollar:1270586016855621642>  New Purchase\",\"description\":\"**Product**: {RESOURCE_TITLE}\\n**Price**: {RESOURCE_PRICE} ({RESOURCE_CURRENCY})\\n**User**: {USER_NAME} ({USER_ID})\",\"color\":16711798,\"thumbnail\":{\"url\":\"{RESOURCE_THUMBNAIL_URL}\"}}]}"
DISCORD_REFUND_WEBHOOK_CONTENT="{\"embeds\":[{\"title\":\"<:warn:1211145243194556456>  New Refund\",\"description\":\"**Product**: {RESOURCE_TITLE}\\n**Price**: {RESOURCE_PRICE} ({RESOURCE_CURRENCY})\\n**User**: {USER_NAME} ({USER_ID})\",\"color\":16711798,\"thumbnail\":{\"url\":\"{RESOURCE_THUMBNAIL_URL}\"}}]}"